.enroll {
    padding: 100px 80px;
    text-align: center;
    background: #fff;
}

.enroll-title {
    font-size: 42px;
    font-weight: 800;
}

.enroll-line {
    width: 120px;
    height: 4px;
    margin: 14px auto 80px;
    background: linear-gradient(to right, #ff6ea1, #ff9ac2);
    border-radius: 4px;
}


/* GRID */

.enroll-steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* CARD */

.step {
    width: 260px;
    padding: 45px 30px;
    border-radius: 22px;
    box-shadow: 0 30px 80px rgba(0, 0, 0, 0.08);
    background: #fff;
}

.step h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 18px 0 12px;
}

.step p {
    font-size: 16px;
    color: #7a7a7a;
    line-height: 1.7;
}


/* ICON */

.icon {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon svg {
    width: 30px;
    height: 30px;
    fill: #fff;
}


/* COLORS */

.step-blue {
    background: linear-gradient(180deg, #eaf8ff, #fff);
}

.icon.blue {
    background: #5ac8fa;
}

.step-yellow {
    background: linear-gradient(180deg, #fff6df, #fff);
}

.icon.yellow {
    background: #f4b400;
}

.step-purple {
    background: linear-gradient(180deg, #f2ebff, #fff);
}

.icon.purple {
    background: #a78bfa;
}

.step-red {
    background: linear-gradient(180deg, #ffeaea, #fff);
}

.icon.red {
    background: #ff6b6b;
}


/* ARROWS */

.step-wrap {
    display: flex;
    align-items: center;
}

.arrow {
    width: 120px;
    height: 2px;
    border-top: 2px dashed;
    margin: 0 20px;
    position: relative;
}

.arrow::after {
    content: "";
    position: absolute;
    right: -6px;
    top: -4px;
    border-left: 8px solid;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

.arrow.blue {
    border-color: #5ac8fa;
}

.arrow.blue::after {
    border-left-color: #5ac8fa;
}

.arrow.yellow {
    border-color: #f4b400;
}

.arrow.yellow::after {
    border-left-color: #f4b400;
}

.arrow.purple {
    border-color: #a78bfa;
}

.arrow.purple::after {
    border-left-color: #a78bfa;
}


/* RESPONSIVE */

@media (max-width: 1024px) {
    .enroll-steps {
        flex-wrap: wrap;
        gap: 40px;
    }
    .arrow {
        display: none;
    }
}