.adm-survey-container{
  padding:30px;
  max-width:1200px;
  margin:auto;
}

.adm-survey-title{
  font-size:28px;
  margin-bottom:25px;
  font-weight:700;
}

.adm-survey-form{
  background:#fff;
  padding:30px;
  border-radius:18px;
  box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.adm-survey-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:18px;
}

.adm-field{
  display:flex;
  flex-direction:column;
  gap:6px;
}

.adm-field input,
.adm-field select{
  padding:12px;
  border-radius:8px;
  border:1px solid #ccc;
  font-size:15px;
}

.adm-full{
  grid-column:span 3;
}

.adm-survey-submit{
  margin-top:25px;
  width:100%;
  padding:14px;
  background:#6c63ff;
  color:#fff;
  border:none;
  border-radius:10px;
  font-size:16px;
  cursor:pointer;
}

/* RESPONSIVE */

@media(max-width:900px){
  .adm-survey-grid{
    grid-template-columns:repeat(2,1fr);
  }

  .adm-full{
    grid-column:span 2;
  }
}

@media(max-width:600px){
  .adm-survey-grid{
    grid-template-columns:1fr;
  }

  .adm-full{
    grid-column:span 1;
  }
}
