/* PAGE */
.staffPage{
  background:#f4f6fb;
  min-height:100vh;
  padding:30px;
  font-family:"Segoe UI", sans-serif;
}

/* HEADER */
.staffTopHeader{
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;
  gap:10px;
  margin-bottom:20px;
}

.staffTitle{
  display:flex;
  align-items:center;
  gap:10px;
  font-size:22px;
  color:#1e293b;
}

.staffBreadcrumb{ color:#64748b; font-size:14px; }
.staffBreadcrumb .active{ color:#1e293b; font-weight:600; }
.slash{ margin:0 6px; }

/* FORM */
.staffFormCard{
  background:#fff;
  padding:25px;
  border-radius:14px;
  box-shadow:0 5px 20px rgba(0,0,0,0.06);
  margin-bottom:25px;
}

.formGrid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:18px;
}

.field input{
  width:100%;
  padding:12px;
  border-radius:8px;
  border:1px solid #dbe2ef;
}

.btnField{ display:flex; align-items:end; }

.saveBtn{
  width:100%;
  height:42px;
  background:#2563eb;
  color:#fff;
  border:none;
  border-radius:8px;
  font-weight:600;
  cursor:pointer;
}

/* TABLE */
.staffTableCard{
  background:#fff;
  border-radius:14px;
  box-shadow:0 5px 20px rgba(0,0,0,0.06);
  overflow:hidden;
}

.tableHeader{
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;
  gap:10px;
  padding:18px 22px;
  background:#f1f5f9;
}

.tableSearch{
  display:flex;
  align-items:center;
  gap:10px;
  border:1px solid #dbe2ef;
  border-radius:8px;
  padding:8px 12px;
  background:#fff;
}

.tableSearch input{
  border:none;
  outline:none;
  width:160px;
}

.tableWrapper{ overflow:auto; }

.staffTable{
  width:100%;
  min-width:850px;
  border-collapse:collapse;
}

.staffTable th{
  background:#e2e8f0;
  padding:14px;
  text-align:left;
  font-size:13px;
  white-space:nowrap;
}

.staffTable td{
  padding:14px;
  border-top:1px solid #edf2f7;
  white-space:nowrap;
}

.name{ font-weight:600; color:#2563eb; }

/* ACTION */
.actionCell{ position:relative; }

.actionBtn{
  border:none;
  background:#1e40af;
  color:#fff;
  padding:6px 10px;
  border-radius:6px;
  cursor:pointer;
}

.actionDropdown{
  position:absolute;
  right:0;
  top:38px;
  background:#fff;
  box-shadow:0 8px 20px rgba(0,0,0,0.15);
  border-radius:10px;
  min-width:130px;
  z-index:100;
}

.actionDropdown button{
  width:100%;
  padding:10px 14px;
  border:none;
  background:#fff;
  display:flex;
  gap:8px;
  cursor:pointer;
}
.actionDropdown button:hover{ background:#f1f5f9; }
.edit{ color:#2563eb; }
.delete{ color:#ef4444; }

/* RESPONSIVE */
@media(max-width:992px){
  .formGrid{ grid-template-columns:repeat(2,1fr); }
}

@media(max-width:768px){
  .formGrid{ grid-template-columns:1fr; }
  .staffPage{ padding:20px; }
}

@media(max-width:480px){
  .staffPage{ padding:15px; }
  .staffTitle h2{ font-size:18px; }
  .tableSearch input{ width:100%; }
}
