*{
    box-sizing:border-box;
}

html,
body,
#root{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

.admin-wrapper{
    width:100%;
    min-height:100vh;
    background:#f5f7fb;
}

/* NAVBAR */

.admin-navbar{
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:70px;
    z-index:1200;
}

/* BODY */

.admin-body{
    display:flex;
}

/* CONTENT */

.admin-content{

    margin-top:70px;

    margin-left:275px;

    width:calc(100% - 275px);

    min-height:calc(100vh - 70px);

    transition:.3s;

    padding:22px;
}

.admin-content.sidebar-close{

    margin-left:0;

    width:100%;
}

.admin-main{
    width:100%;
}

/* Desktop */

@media(min-width:1025px){

.admin-content.sidebar-open{

margin-left:275px;

width:calc(100% - 275px);

}

.admin-content.sidebar-close{

margin-left:0;

width:100%;

}

}

/* Tablet */

@media(max-width:1024px){

.admin-content{

margin-left:0;

width:100%;

padding:18px;

}

}

/* Mobile */

@media(max-width:768px){

.admin-content{

padding:15px;

}

}

/* Small */

@media(max-width:480px){

.admin-content{

padding:12px;

}

}