@import "tailwindcss";

/* student admission css */
.input {
  @apply w-full border border-gray-300 rounded-md px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
}

.label {
  @apply block text-sm font-medium text-gray-700 mb-1;
}
.sub-heading {
  @apply text-base font-semibold text-gray-700 border-b pb-2;
}



/* sidebar css */

.icon-bubble {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background: linear-gradient(145deg, #eef2ff, #e0e7ff);
  transition: all 0.3s ease;
}

.nav-item:hover .icon-bubble {
  transform: scale(1.1) rotate(-5deg);
  box-shadow: 0 10px 25px rgba(99, 102, 241, 0.3);
}