@import "tailwindcss";

.input {
  @apply w-full border border-gray-300 rounded-md px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
}

.label {
  @apply block text-sm font-medium text-gray-700 mb-1;
}






.sub-heading {
  @apply text-base font-semibold text-gray-700 border-b pb-2;
}
@import "tailwindcss";
